
.project-container{
    padding: 10px 10%;
    margin-top: 40px;
}

.project-container .sub-title{
    margin-top: 10px;
    margin-bottom: 30px;
}


.project-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-row1{
    flex-basis: 25%;
}

.project-row2{
    margin: 10px 0;
    flex-basis: 60%;
    margin-left: 30px;
}

.project-row2-container{
    width: 100%;
}

.project-slideshow{
    margin: 50px 0;
    position: relative;
}

.slide{
    display: none;
    justify-content: center;
}

.project-slideshow .slide{
    width: 100%;
    height: auto;
}

.project-slideshow .slide-button{
    margin: -21px 7px;
    top: 50%;
    position: absolute;
    width: 42px;
    height: 42px;
    filter: invert(100%);
    cursor: pointer;
}


.project-slideshow .slide-button.right{
    right: 0%;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.0s;
  }
  
  @keyframes fade {
    from {opacity: 0.8} 
    to {opacity: 1}
}

.dot-container{
    bottom: 2%; 
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dot {
    margin: 0 5px;
    cursor: pointer;
    height: 12px;
    width: 12px;
    background-color: rgba(97,176,183,0.6);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: rgba(97,176,183,1.0);
  }




.project-content .sub-title{
    margin-bottom: 30px;
}


.project-content ul li{
    list-style: none;
    margin: 10px 0;
}

.project-content ul li span{
    color:rgba(97,176,183,0.8);
    font-size: 16px;
}

.project-content p{
    text-align: justify;
}

.next-project{
    display: flex;
    float: right;
    margin-top: 5px;
    cursor: pointer;
    vertical-align: baseline;
}


.next-project-container{
    margin-left: 5px;
    display: inline-block;
    height: 100%;
}

.next-project-button{
    height: 16px;
    width: 16px;
}

.next-project p{
    line-height: 16px;
    vertical-align: middle;
}




/*----------css für zwischendrin---------------------*/
@media only screen and (max-width: 900px)  {

    .project-row1{
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    .project-row2{
        flex-basis: 100%;
        margin-left: 0px;
    }


    .next-project-button{
        height: 16px;
        width: 16px;
    }


    .next-project-button{
        height: 16px;
        width: 16px;
    }

    .project-slideshow .slide-button{
        margin: -18px 7px;
        width: 36px;
        height: 36px;
    }
    

}

@media only screen and (max-width: 600px)  {

    .dot{
        width: 10px;
        height: 10px;
        margin: 0 4px;
    }

    .next-project-button{
        height: 14px;
        width: 14px;
    }

    .project-slideshow .slide-button{
        margin: -15px 7px;
        width: 30px;
        height: 30px;
    }

}
